<ul>
  {{#each chatRooms as |chatRoom|}}
    <li>
      {{#link-to 'chat-rooms.chat-room.index' chatRoom}}
        {{chatRoom.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{text-input onAdd="addChatRoom"}}
