& {
  position: absolute;
  height: 100vh;
  left: 200px;
  right: 0;

  h1 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    height: 60px;
    padding-left: 40px;
    padding-top: 10px;
    color: $flat-peter-river;
  }

  .messages {
    position: absolute;
    left: 40px;
    top: 60px;
    right: 0;
    bottom: 80px;
    padding: 0;
    list-style: none;
    margin-bottom: 5px;
    overflow-y: auto;
  }

  .message-editor {
    height: 80px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    width: 100%;

    input {
      width: 100%;
      padding: 10px 10px;
      font-size: 1em;
      border: none;
      border: 2px solid $flat-silver;
      border-radius: 5px;
    }
  }
}
