<h1>{{chatRoom.name}}</h1>

<ul class="messages">
  {{#each chatRoom.messages as |message|}}
    <li>{{message.body}}</li>
  {{/each}}
</ul>

<div class="message-editor">
  {{text-input onAdd="addMessage"}}
</div>
